@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div id="main-content" class="container" style="padding-top: 1rem;" >         
    <!--Angular-->
    <web-main serverParams="'220'"></web-main>
        
    <div class="row">
        <a href="/000-12345-67890/mdp/mdphome/main" style="font-size: 1rem">Go to Area Main</a>        
    </div>
</div>
