@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
   
<div id="main-content" class="container" >    
  <a href="/Home/index/1" style="font-size: 1.25rem">Go to Home Page</a>    
</div>




