
@{
    Layout = "~/Views/SiteTest/_SiteTestLayout.cshtml";
    ViewBag.Title = "Hello hello -- Site Test";
}

<h2>Hello hello -- Site Test</h2>
<p>This is a response from the site test controller.</p>
<br />
<p><a href="remdiagnostic">Run Diagnotics</a></p>

