@{    
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

 <!--Angular-->
 <mdp-main serverParams="@ViewBag.ServerParams"></mdp-main>

<!--ASP.NET MVC View-->
<div style="margin-top: 1rem; margin-left: 1rem;">
    MDP page: Text rendered directly from ASP.NET MVC View
</div>


