<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">                      
            <div class="navbar-header pull-left"> 
            </div>
        </div>
    </div>
</div>