<div id="side-navigation-wrapper" >
    <ul class="side-navigation">

        <li>
            <a href=""> <em aria-hidden="true"></em>Menu Item </a>
        </li>
        <li>
            <a href="/Home/index/1" style="font-size: 1rem">Web Main Page</a>
        </li>        
        <li>
            <a href="/000-12345-67890/mdp/mdphome/main" style="font-size: 1rem">Area Main Page</a>            
        </li>

    </ul>
</div>
