<style>
    .sub-menu-panel {        
        white-space: normal !important;
    }
    .sub-menu-link {
        display: inline-block !important;
        line-height: 1.2rem !important;
        padding-bottom: 0.5rem !important;
    }
    .link-separator {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    .sub-link-nowrap {
        white-space: nowrap !important;
    }
    
</style>
<div id="side-navigation-wrapper">
    <ul class="side-navigation">

        <li>
            <a href=""> <em aria-hidden="true"></em>Menu Item </a>
        </li>
        <li>
            <a href="/Home/index/1" style="font-size: 1rem">Web Main Page</a>
        </li>        
        <li>
            <a href="/000-12345-67890/mdp/mdphome/main" style="font-size: 1rem">Area Main Page</a>            
        </li>

    </ul>
</div>
