@media all and (max-width:768px) {
    .tabs-full-page .nav-tabs > li.tab-logo-container {
        border: none !important;
    }

    .tabs-full-page .nav-tabs > li {
        border: 1px solid #d5d5d5 !important;
    }
}

.tab-bottom-line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d5d5d5;
}

.space-adj {
    margin-bottom: 1rem;
}
