<div *ngIf="routerId==10" class="col-md-12">
    <div class="tabs-full-page tab-resize bottom-space">
        <ul class="nav nav-tabs tab-bottom-line" [ngClass]="{'nav-stacked': vertical, 'nav-justified': justified}">
            <!--Route URL is case-sensitive for routerLinkActive directive-->
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" #$homeTab="routerLinkActive">
                <a [routerLink]="[parentModel.companyPathMain + '/home-tab']" [state]=parentModel>{{homeTabLabel}}</a>
            </li>
            <li [routerLinkActive]="['active']" #$contacts="routerLinkActive">
                <a [routerLink]="[parentModel.companyPathMain + '/contacts']" [state]=parentModel>Contacts</a>
            </li>
            <li  [routerLinkActive]="['active']" #$takeAction="routerLinkActive">
                <a [routerLink]="[parentModel.companyPathMain + '/take-action']" [state]=parentModel>Take Action</a>
            </li>      
        </ul>
    </div>
    <router-outlet></router-outlet>    
    <div class="space-adj">&#160;</div>
    <a class="hy-link cursor-pointer" (click)="openDialog(1)">Angular Debugging: Open Confirmation Dialog</a><br />
    <br />
</div>

