.left-indent {
    margin-left: 1rem;
}

.top-space {
    margin-top: 1.5rem;
}

.top-half-space {
    margin-top: 0.75rem;
}

.bottom-space {
    margin-bottom: 1.5rem;
}

.bottom-half-space {
    margin-bottom: 0.75rem;
}
